# ignore all file
*

# allow source file
!*/
!*.mk
!src/**/*.[ch]
!test/**/*.[ch]
!tools/**/*.[chSy]
!tools/**/*.py
!examples/**/*.[chSy]
!*.cc
!*.gitignore
!README.md
!Makefile
!Kconfig
!dependencies.d
