menu "OLED Drivers"

config OLED_SSD1306
    bool "SSD1306/SSD1315 OLED Driver"
    default n
    help
      Say y if you want a driver for the SSD1306 and SSD1315 OLED display
      controller.

endmenu