menu "Hardware drivers"

config USE_DEVOP_ERROR_PRINT
    bool "Enable error print hardware driver error check. (size)"
    default y
    help
      Enable error print for device operation.
      This feature will use enormous memory, so disable it if you don't need it.

source "src/hardware/oled/Kconfig"

source "src/hardware/adc/Kconfig"

endmenu

